.shop-by-category-container__digikala-offer .swiper {
    width: 100%;
    height: auto;
    user-select: none;
}

.shop-by-category-container__digikala-offer .swiper-slide {
    width: auto !important;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-by-category-container__digikala-offer .swiper-slide img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.shop-by-category-container__digikala-offer .swiper-button-prev,
.shop-by-category-container__digikala-offer .swiper-button-next {
    display: none;
    width: 40px !important;
    height: 40px !important;
}

.shop-by-category-container__digikala-offer .swiper-button-prev::after,
.shop-by-category-container__digikala-offer .swiper-button-next::after {
    font-size: 17px !important;
    color: black;
    background-color: white !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900 !important;
    border: 1px solid rgba(0, 0, 0, 0.187);
}

.shop-by-category-container__digikala-offer .swiper-button-prev.swiper-button-disabled,
.shop-by-category-container__digikala-offer .swiper-button-next.swiper-button-disabled {
    display: none !important;
}

@media (min-width: 1024px) {

    .shop-by-category-container__digikala-offer .swiper-button-prev,
    .shop-by-category-container__digikala-offer .swiper-button-next {
        display: flex;
    }
}

@media (min-width: 1536px) {

    .shop-by-category-container__digikala-offer .swiper-button-prev,
    .shop-by-category-container__digikala-offer .swiper-button-next {
        display: none;
    }
}