body {
    direction: rtl;

    &::-webkit-scrollbar {
        background-color: var(--lightGrayBg);
        width: 10px;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bluePurpleColor);
        border-radius: 8px;
    }

    >header {

        .mobile-menu-container {

            >div {
                height: 44px;
                background-color: var(--lightGrayBg);
                border-radius: 7px;
            }
        }

        .serch-box-mobile-toggle {
            position: fixed;
            background-color: white;
            width: 100%;
            height: 100%;
            left: 0;
            transition: all 0.5s ease;
            z-index: 20;
            background-color: white;

            >div {
                >div {
                    border-bottom: 1px solid var(--lightBlue);
                    position: relative;

                    >i {
                        position: absolute;
                        bottom: 3px;
                        right: 20px;
                        font-size: 18px;
                    }

                    >input {
                        border: none;
                        outline: none;

                        &::placeholder {
                            font-size: 13px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .desktop-menu-container {

            >section.desktop-menu-top {
                >div {

                    >div {
                        &:nth-of-type(1) {
                            >div.menu-desktop-searchbar {
                                background-color: var(--lightGrayBg);
                                font-size: 14px;
                                border-radius: 7px;

                                >.search-modal {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    // height: 500px;
                                    background-color: white;
                                    transition: 0.4s ease;
                                    z-index: 10;
                                    opacity: 0;
                                    visibility: hidden;
                                    overflow: hidden;

                                    >section {
                                        >div {
                                            >div {
                                                >input {
                                                    &::placeholder {
                                                        color: var(--lightGrayText);
                                                        font-size: 14px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            >.nav {
                height: 43px;
                overflow: hidden;
                transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                .nav__red-line-container {
                    position: relative;
                    z-index: 10;
                    pointer-events: none;
                    top: -3px;

                    .nav__red-line-border {
                        width: 0;
                        height: 2px;
                        background-color: red;
                        transition: 0.2s ease;
                        pointer-events: none;
                    }
                }

                >.mega-menu-container {
                    position: absolute;
                    top: 42px;
                    width: 97%;
                    height: 500px;
                    background-color: white;
                    left: 50%;
                    transform: translateX(-50%);

                    .mega-menu-content-container {
                        >div {
                            display: none;
                        }
                    }
                }
            }
        }

        .search-modal-show {
            opacity: 1 !important;
            visibility: visible !important;
        }

    }

    >main {

        >.slider {
            user-select: none;

            span[aria-live="polite"] {
                width: 100%;
                display: flex;

                >span {
                    width: 100%;
                    height: 100%;
                }
            }

            >figure {
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .express-services-hub-container {
            .more-section-mobile {
                width: 100%;
                height: 100%;
                position: fixed;
                background-color: white;
                top: 0;
                left: 0;
                z-index: 150;
                transform: translateY(100%);
                transition: 0.4s ease-out;
                overflow-y: auto;
            }

            .more-section-desktop {
                width: 50%;
                height: 70%;
                position: fixed;
                z-index: 150;
                background-color: white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
            }

            .more-btn-shadow {
                width: 100%;
                height: 100%;
                position: fixed;
                background-color: rgba(128, 128, 128, 0);
                top: 0;
                left: 0;
                z-index: 120;
                opacity: 0;
                visibility: hidden;
                transition: 0.4s ease-in;
            }

            .more-btn-shadow--active {
                background-color: rgba(15, 14, 14, 0.364);
                opacity: 1;
                visibility: visible;
            }
        }

        >.amzaing-products-carousel-container,
        >.amzaing-products-carousel-container--loading {

            .swiper-slide {
                width: 182px;
                height: 260px;
                overflow: hidden;

                &:nth-of-type(1) {
                    background-color: unset;
                }

                &:nth-of-type(2) {
                    border-radius: 0 10px 10px 0;
                }

                &:last-child {
                    border-radius: 10px 0 0 10px;

                    span {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid var(--lightBlue);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        >i {
                            color: var(--lightBlue);
                            display: inline-flex;
                            font-size: 25px;
                        }
                    }

                    p {
                        color: var(--desktopMenuColor);
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .amzaing-products-carousel-items {
                    height: 100%;

                    figure {
                        width: 130px;
                        height: 130px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

        }

        // *******************************************************
        >.amazing-supermarket-container,
        >.amazing-supermarket-container--loading {
            .amazing-supermarket-top {
                position: relative;
                width: 100%;
                min-height: 110px;
                background-color: #EBEEEA;
                display: flex;
                align-items: center;
                z-index: 2;

                >figure {
                    width: 1200px;
                    height: 150px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;

                    >img {
                        width: 100%;
                        height: 90%;
                        object-position: 5px -34px;
                        object-fit: contain;
                    }
                }
            }
        }

        >.amazing-supermarket-container--loading {
            .amazing-supermarket-top {
                background-color: whitesmoke;
            }
        }

        .digi-plus-container {
            .digi-plus-container__right-item {
                background-image: url("https://www.digikala.com/statics/img/png/digiplus/plus-widget.png");
                background-repeat: no-repeat;
                background-size: 400px;
                background-position: 0% 90%;
            }

            @media (min-width: 1024px) {
                .digi-plus-container__right-item {
                    background-size: 80%;
                    background-position: center 100%;
                }
            }

            @media (max-width: 768px) {
                .digi-plus-container__photos-part {
                    figure:not(:nth-of-type(-n+3)) {
                        display: none;
                    }
                }
            }

            @media (max-width: 1024px) {
                .digi-plus-container__photos-part {
                    figure:not(:nth-of-type(-n+8)) {
                        display: none;
                    }
                }
            }
        }

        .digiclub-container {

            .digiclub-container__item {
                width: 100%;
                height: 100%;
                background: linear-gradient(76.02deg, #35a6c8 33.32%, #007295 71.55%), radial-gradient(21.29% 87.33% at 50% 50.67%, #7cf2f6 0, #35a6c8 100%);
            }
        }
    }
}